
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Elementos */
.elementos {
    position: fixed;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    transform: translateY(100vh);
    animation: element 20s ease-in-out infinite;
}

.esquerda, .direita {
    position: relative;
    left: 17%;
    transform: translate(-50%, -50%);
    animation: shake 15s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% { transform: translate(-50%, -50%); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-55%, -50%); }
    20%, 40%, 60%, 80% { transform: translate(-45%, -50%); }
}


@keyframes element {
    0% { transform: translateY( -50%); }
    100% { transform: translateY(100vh)}
}

.elementos img {
    position: relative;
}

/* Botão */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -100px;
}

.content .acai {
    margin-bottom: 24px;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botoes button {
    margin-bottom: 54px;
    background: #fff;
    border: none;
    width: 687px;
    height: 73.59px;
    border-radius: 20px;
    font-size: 48px;
    color: #722770;
    box-shadow: 12px 11px 2.3px #722770;
    transition: 0.5s ease-in-out;
    font-family: "Orelega One", serif;
}

.botoes button:hover{
    background: #722770;
    color: #fff;
    box-shadow: 12px 11px 10px #00000065;
    cursor: pointer;
}


@media (max-width: 732px) {
    .acai img {
        width: 300px;
    }

    .botoes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .botoes button {
        width: 350px;
        height: 73.59px;
        font-size: 28px;

    }
    
}